body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
}

.col img{
    width: 100%;
    border: 6px solid #bfbfbf;
    border-radius: 4px;
}

p{
    color: #d4d4d4;
    width: 70%;
    margin: auto;
    font-size: 1.2em;
    margin-top: 20px;
}

h3{
    color: #d4d4d4;
    text-align: center;
}

@media (max-width: 800px){
    h3{
        font-size: 1.4em;
    }
}