body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
}

#gallery{
    display: flex;
    margin-top: 30px;
    vertical-align: bottom;
}

.portrait{
    text-align: center;
    width: 90%;
}

.portrait img{
    width: 80%;
    height: 100%;
    border: 6px solid #bfbfbf;
    border-radius: 4px;
}

p{
    color: #d4d4d4;
    width: 70%;
    margin: auto;
    font-size: 1.2em;
    margin-top: 20px;
}

h1{
    color: #d4d4d4;

}

#firebaseui-auth-container {
    display: none;
}

#log-out-btn {
    font-size: 30px;
    display: none;
    border: 2px solid black;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
    border-style: outset;

}

#sign-out-container, #sign-in-container, #loader-container {
    height: calc(100vh - 56px);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0%);
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
    font-weight: bolder;
    font-size: 2.5rem;
    background-color: darkred;
    color: white;
}